header {
    font-size: 25px;
    font-weight: bold;
    padding: 20px 0 20px 0;
  }

  footer {
    background-color: #111;
    color: #fff;
    height: 100px;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 20px 0 0 0;
    padding: 50px 0 0 0;
  }
  
  p {
    padding: 0 0 0 20px; 
  }
  
  code {
    background: #3f3f3f;
    border-radius: 10px;
    color: white;
    margin: 5px 0 20px 35px;
    padding: 5px;
  }
  
  li {
    padding: 5px;
    margin: 0 0 0 15px;
  }
  
  #navbar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  #navbar ul {
    list-style-type: none;
    padding: 6px 8px 6px 16px;
    font-size: 23px;
    color: #818181;
    display: block;
  }
  
  #navbar ul li {
    border-bottom: solid #818181;
  }
  
  #navbar header {
    color: #818181;
    padding: 0 10px;
  }
  
  .nav-link { 
    font-family: sans-serif;
    text-decoration: none;
    color: #818181;
  }
  
  .nav-link:hover {
    color: #f1f1f1;
  }
  
  #main-doc {
    margin-left: 160px; 
    padding: 0px 50px;
  }
  
  @media screen and (max-height: 450px) {
    .navbar {padding-top: 15px;}
    .navbar a {font-size: 18px;}
  }